@charset "utf-8";

:root {
    --dark-color: rgb(18, 18, 18);
    --light-color: rgb(236, 236, 236);
    --section-paddings: 7rem;
    --img-border-radius: 10px;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

/* ====================================Header==================================== */

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: transparent url(../img/header.jpeg) no-repeat center center/cover;

    .container {
        display: flex;
        flex-direction: column;
        gap: 1px;
        /* Hi, I'm MJ */
        h2:first-of-type {
            font-size: 10rem;
            font-weight: 500;
            color: var(--light-color);
            z-index: 2;
            line-height: 10rem;
            text-align: center;
        }
        /* I'm a software developer */
        h2:nth-of-type(2) {
            font-size: 5rem;
            font-weight: 200;
            color: var(--light-color);
            z-index: 2;
            text-align: center;
        }
    }
    /* dark transparent filter over the header */
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000000aa;
        z-index: 1;
    }

    /* dark grade at the bottom of the header */
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to top, var(--dark-color) 0%, var(--dark-color) 23%, rgba(18, 18, 18, 0) 100%);
        z-index: 3;
    }

}

/* ====================================Sections==================================== */
.content-section {
    padding: var(--section-paddings);
    width: 100%;
    & > .container {
        gap: 4rem;
    }
    .content-img {
        width: 50%;
        height: auto;
        border-radius: var(--img-border-radius);
        object-fit: cover;
    }
    .section-content-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: auto;
        h2 {
            font-weight: 800;
            font-size: 5rem;
            line-height: 0.7;
        }
    }
}

/* About Section */
.about-section {
    background-color: var(--dark-color);
    .about-content-div {
        h2 {
            color: var(--light-color);
        }
        p {
            font-size: 2.2rem;
            color: var(--light-color);
            margin-top: 2rem;
            line-height: 2;
        }
    }
}

/* ====================================Font==================================== */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* ====================================Media Queries==================================== */

/* Mobile */
@media (max-width: 700px) {
    .about-section {
        .about-img {
            display: none;
        }
        .about-content-div {
            width: 100%;
        }
    }
}

